.col-sm-4.clearfix.feature-container
  .col-xs-12.feature-contents
    %h4
      = feature.title
    - if (feature.gitlab_eep == true)
      .badge-container
        - if (feature.gitlab_ce == true)
          %a{"title" => "GitLab Community Edition", "data-toggle" => "tooltip", "data-placement" => "top"}
            %span{class: "ce"}<
              CE
        - if (feature.gitlab_ees == true)
          %a{"title" => "GitLab Enterprise Edition Starter", "data-toggle" => "tooltip", "data-placement" => "top"}
            %span{class: "ees"}<
              EES
        - if (feature.gitlab_eep == true)
          %a{"title" => "GitLab Enterprise Edition Premium", "data-toggle" => "tooltip", "data-placement" => "top"}
            %span{class: "eep"}<
              EEP
        - if (feature.gitlab_eeu == true)
          %a{"title" => "GitLab Enterprise Edition Ultimate", "data-toggle" => "tooltip", "data-placement" => "top"}
            %span{class: "eeu"}<
              EEU
    %p
      = kramdown(feature.description)
    - unless (feature.link == nil)
      %span
        - if (feature.link.to_s.start_with?("https://docs.gitlab.com"))
          = link_to "Documentation", feature.link
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com/features", "/features"))
          = link_to "Feature details", feature.link
        - elsif (feature.link.to_s.start_with?("https://about.gitlab.com/20", "/20"))
          = link_to "Blog post", feature.link
        - elsif (feature.link.to_s.start_with?("https://gitlab.com/"))
          = link_to "Issue details", feature.link
        - else
          = link_to feature.link_description, feature.link
