---
layout: default
title: Products
description: "Learn about GitLab's self hosted products including a handy feature comparison as well as subscription and licensing information."
suppress_header: true
extra_css:
  - products.css
  - faq.css
extra_js:
  - faq.js
  - bootstrap-tooltip.js
extra_font:
  - "Roboto+Slab"
---
.product-options.text-center
  .container
    .row{ data: { equal: ".col-md-3" } }
      .col-md-12
        %h1
          Self-host GitLab on-premises or in your private cloud
        %h4
          Hosted SaaS options are available using #{link_to 'GitLab.com',  '/gitlab-com'}

      .col-md-3
        .product-item.community-edition
          .product-name.ce
            Community Edition (CE)
          .product-item-body
            .product-description
              For small teams, personal projects, or GitLab trials with unlimited time.
            .row.product-pricing
              .col-xs-6.cost.cost-large
                $0
              .col-xs-6.cost.cost-small
                per user
                %br
                per year
            .product-actions.align-button
              = link_to "Install", "/installation/", class: "featured-item-button"
            %ul#community-edition.product-item-list.list-unstyled
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == true && feature.products_page == true)
                  %li.item-description
                    .triangle
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
              %li= link_to "See all features", "/products/feature-comparison/", class: "all-features"

      .col-md-3.enterprise
        .product-item.enterprise-edition-starter
          .product-name.enterprise.ee-starter
            .ee
              Enterprise
              %br
              Edition
            .ee-level Starter
          .product-item-body
            .product-description
              For co-located teams with a single project who need professional support.
            .row.product-pricing
              .col-xs-7.cost.cost-large
                $39
              .col-xs-5.cost.cost-small
                per user
                %br
                per year
            .product-actions
              = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe58bdf4e00158d696fff06a41", class: "featured-item-button"
              = link_to "Free Trial", "https://about.gitlab.com/free-trial/", class: "featured-item-link"
            %ul#enterprise-edition-starter.product-item-list.list-unstyled
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == false && feature.gitlab_ees == true && feature.products_page == true)
                  %li.item-description
                    .triangle
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
              %li= link_to "See all features", "/products/feature-comparison/", class: "all-features"

      .col-md-3.enterprise
        .product-item.enterprise-edition-premium
          .product-name.enterprise.ee-premium
            .ee
              Enterprise
              %br
              Edition
            .ee-level Premium
          .product-item-body
            .product-description
              For distributed teams who need advanced features, high availability, and 24/7 support.
            .row.product-pricing
              .col-xs-7.cost.cost-large
                $199
              .col-xs-5.cost.cost-small
                per user
                %br
                per year
            .product-actions
              = link_to "Buy Now", "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fd58c4fff70158d6989f6f2a3d", class: "featured-item-button"
              = link_to "Free Trial", "https://about.gitlab.com/free-trial/", class: "featured-item-link"
            %ul#enterprise-edition-premium.product-item-list.list-unstyled
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == false && feature.gitlab_ees == false && feature.gitlab_eep == true && feature.products_page == true)
                  %li.item-description
                    .triangle
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
              %li= link_to "See all features", "/products/feature-comparison/", class: "all-features"

      .col-md-3.enterprise
        .product-item.enterprise-edition-ultimate
          .product-name.enterprise.ee-ultimate
            .ee
              Enterprise
              %br
              Edition
            .ee-level Ultimate
          .product-item-body
            .coming-soon Early adopter
            .product-description
              For enterprises that want to align strategy and execution with enhanced security and compliance.
            .row.product-pricing
              .col-xs-7.cost.cost-large
                %del $999
              .col-xs-5.cost.cost-small
                per user
                %br
                per year
            .product-actions
              = link_to "Contact Sales", "/sales", class: "featured-item-button"
              .featured-item-discount for early adopter discounts
            %ul#enterprise-edition-premium.product-item-list.list-unstyled
              - data.features.features.each do |feature|
                - if (feature.gitlab_ce == false && feature.gitlab_ees == false && feature.gitlab_eep == false && feature.gitlab_eeu == true)
                  %li.item-description
                    .triangle
                    - if (feature.link != nil)
                      = link_to feature.title, feature.link
                    - if (feature.link == nil)
                      = feature.title
              %li= link_to "See all features", "/direction/#enterprise-edition-ultimate", class: "all-features"

    .contact-block
      %h2 Still have questions? Get in touch.
      = link_to "Contact Us", "https://about.gitlab.com/sales/", class: "featured-item-button contact-us-button"

.content-container.animated.faq
  .container
    %h2.faq-title.light.text-center
      Subscription & Licensing FAQ
    .faq-holder.clearfix
      - size = (data.pricing.questions.size / Float(2)).ceil
      - data.pricing.questions.each_slice(size).to_a.each do |group|
        = partial "includes/layout/question_group", locals: { group: group }
